body {
	font-family: monospace;
	font-size: 11pt;
	height: 100vh;
	margin: 0;
	display: flex;
    flex-direction: column;
 	box-sizing: border-box;
 	padding: 0;
}

div {
	padding: 0.3rem;
}

li {
	padding: 0;
	padding-top: 0.3rem;
}

.spacer {
	text-align: right;
	margin-top: 5%;
	font-size: 8pt;
	color: #ccc;
	padding: 0.5rem 2rem 0.5rem 0.5rem;
}

ul.bulleted {
	list-style-type: disc;
	font-family: sans-serif;
	margin: 0;
	padding: 0.3rem;
	padding-left: 1.5rem;
}

ul.bulleted ul {
	list-style-type: disc;
	margin: 0;
	padding: 0;
	font-size: 11pt;
	padding-left: 1rem;
}

ul.non-bulleted {
	list-style-type: none;
	font-family: sans-serif;
	margin: 0;
	padding: 0.3rem;
}

ul.non-bulleted ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-size: 11pt;
	padding-left: 1rem;
}

ol {
	list-style-type: decimal;
	font-family: sans-serif;
	margin: 0;
	padding: 0.3rem;
	padding-left: 1.5rem;
}

ol ol {
	margin: 0;
	padding: 0;
	font-size: 11pt;
	padding-left: 1rem;
}

ol>ol {
	list-style-type: lower-alpha;
}

ol>ol>ol {
	list-style-type: lower-roman;
}

ol>ol>ol>ol {
	list-style-type: upper-alpha;
}

ol>ol>ol>ol>ol {
	list-style-type: uper-roman;
}

hr {
	border: 0;
	border-bottom: 1px solid #ccc;
}

.h1, .h2, .h3, .h4, .m1, .m2, .m3, .m4 {
	padding-top: 0.9em;
}

.h1, .m1 {
	font-family: sans-serif;
	font-size: 24pt;
	font-weight: bold;
}

.h2, .m2 {
	font-family: sans-serif;
	font-size: 18pt;
	font-weight: bold;
}

.h3, .m3 {
	font-family: sans-serif;
	font-size: 14pt;
	font-weight: bold;
}

.h4, .m4 {
	font-family: sans-serif;
	font-size: 11pt;
	font-weight: bold;
}

.break {
	padding: 0.5rem;
}

.page-title {
	background-color: black;
	color: white;
	font-size: 24pt;
	font-weight: bold;
	padding-left: 1.7rem;
}

.page {
	display: flex;
	padding:0;
}

.code {
	display: inline;
	color: #b00;
	font-family: monospace;
	padding:0;
	font-size: 11pt;
}

.codeblock {
	display: inline-block;
    white-space: pre;
    padding: 0.8rem;
    margin: 0.5rem 1rem 0.5rem 1rem;
/*    margin-left: 1rem;*/
    background-color: #333;
    border: 1px solid #ccc;
    color: white;
    border-radius: 0.8rem;
}

.navbar {
	flex: 0 0 auto;
	overflow-x: hidden;
	overflow-y: scroll;
	padding-left: 0rem;
	padding-right: 0rem;
	width: 16rem;
	font-size: 9pt;
	border-right: 1px solid #eee;
	/*background-color: #f9f9f9;*/
}

a, a:hover, a:visited, a:link {
	text-decoration: none;
}

.nav {
	padding-left: 1.2rem;
	padding-right: 1.2rem;
	text-decoration: none;
	color: black;
}

.nav:hover {
	background-color: #eee;
	text-decoration: none;
	color: black;
}

.nav:visited {
	text-decoration: none !important;
	color: black;
}

.nav-header {
	font-family: sans-serif;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.nh1, .nh2 {
	font-weight: bold;
}

.nh3, .nh4 {
	font-weight: normal;
}

.nav-import, .nav-attributes, .nav-constants, .nav-params, .nav-exceptions {
	font-family: sans-serif;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.nav-class {
	margin-top: 0.7rem;
	font-weight: bold;
	font-family: monospace;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.nav-method {
	font-family: monospace;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.content {
	overflow: scroll;
	flex-grow:1;
}

.paragraph {
	font-family: sans-serif;
	font-size: 11pt;
}

.byline {
	color: #aaa;
	font-family: sans-serif;
	font-size: 11pt;
}

.byline-line {
	padding:0.2rem 0 0.2rem 0;
}

.imports {
	font-weight: bold;
	font-family: sans-serif;
	font-size: 11pt;
}

.imports-line {
	color: #b00;
	font-weight: normal;
	font-family: monospace;
}

.imports-line:hover {
	background-color: #eee;
}

.class {
	margin-top: 1rem;
	font-size: 18pt;
	font-weight: bold;
	border-bottom: 1px solid #ccc;
}

.method {
	margin-top: 0.7rem;
	font-size: 14pt;
	font-weight: bold;
	color: #59f;
}

table {
  border-collapse: collapse; }

 td {
 	padding: 0.2rem;
 }

table, th, td {
  border: 0px solid black; }

table.ktable {
	margin: 0.5rem;
	background-color: #fcfcfc;
	border: 1px solid #bcbcbc;
	font-family: sans-serif;
	font-size: 11pt;
}

table.ktable th {
	background-color: #e0e0e0;
	color: black;
	border: 1px solid #bcbcbc;
	text-align: left;
	padding: 0.5rem 0.8rem 0.5rem 0.8rem;
}

table.ktable td {
	border: 1px solid #ccc;
	padding: 0.5rem 0.8rem 0.5rem 0.8rem;
}

div.params, div.constants, div.attributes, div.exceptions {
	font-weight: bold;
	font-family: sans-serif;
	font-size: 11pt;
}

table.params, table.constants, table.attributes, table.exceptions {
	margin-top: 0.3rem;
}

table.def {
	margin:0;
}

tr:hover {
	background-color: #eee;
}

table.note {
	margin: 0.5rem;
	background-color: #fff8dc;
    border: 1px solid #d0c391;
	font-family: sans-serif;
	font-style: italic;
	font-size: 11pt
}

table.note tr td {
	font-size: 11pt;
	padding: 0.5rem;
}

.note-note {
	vertical-align: top;
	padding-right: 0 !important;
	font-weight: bold;
}

.var_name {
	color: #b00;
	font-family: monospace;
}

.var_desc {
	padding-left: 1.7rem;
	font-family: sans-serif;
	font-size: 11pt;
}

.return {
	font-weight: bold;
	font-family: sans-serif;
	font-size: 11pt;
}

.return_desc {
	font-family: sans-serif;
	font-weight: normal;
	font-size: 11pt;
}

.return_desc:hover {
	background-color: #eee;
}