[jinja2: **/**.html]
encoding = utf-8
ignore_tags = script,style
include_attrs = alt title summary placeholder aria-label
[babelvueextractor.extract.extract_vue: **/**.vue]
encoding = utf-8
ignore_tags = script,style
include_attrs = alt title summary placeholder aria-label
