[tool.poetry]
name = "ci-version-tools"
version = "0.1.0.dev1"
description = "Versioning tools for GitLab CI"
authors = ["Sergej Alikov <sergej@alikov.com>"]
readme = "README.md"
license = "MIT"

[tool.poetry.dependencies]
python = "^3.11"
semver = "^3.0.2"

[tool.poetry.scripts]
project-version = 'ci_version_tools.project:main'
version-env-vars = 'ci_version_tools.version_env_vars:main'

[tool.poetry.group.dev.dependencies]
pytest = "^8.3.2"
coverage = "^7.6.0"

# https://docs.astral.sh/ruff/linter/#rule-selection
[tool.ruff.lint]
select = [
    # pycodestyle
    "E",
    # Pyflakes
    "F",
    # pyupgrade
    "UP",
    # flake8-bugbear
    "B",
    # flake8-simplify
    "SIM",
    # isort
    "I",
]

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
