[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
[project]
name = "pygamePro"
version = "0.0.1"
authors = [
  { name="Sam Fertig", email="sfertig007@gmail.com" },
]
description = "first releace of a pygame class that aims to make your expieience with pygame eisier."
readme = "README.md"
requires-python = ">=3.8"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]

[project.urls]
Homepage = "https://github.com/pypa/sampleproject"
Issues = "https://github.com/pypa/sampleproject/issues"
