.outer-wrapper {
  border-top: 16px solid var(--nav-color);
}

.section-seances {
  #section-byline {
    display: none;
  }

  header {
    display: none;
  }

}

.form-select:focus {
  border-color: #80bdd8;
  outline: 0;
  box-shadow: 0 0 0 0.25rem color-mix(in srgb, var(--nav-color), transparent 50%);
}

.form-control:focus {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  border-color: #80bdd8;
  outline: 0;
  box-shadow: 0 0 0 0.25rem color-mix(in srgb, var(--nav-color), transparent 50%);
}

.pm-preview-meeting {
  //background-color: transparentize($white, 0.70);
  //border-radius: 10px;
  //border: 1px solid $grey-300;
  //backdrop-filter: blur(2px);
  //padding: 1rem;
  //box-shadow: $shadow-md;
}

#content-header {
  display: flex;
  justify-content: center;

  #portal-logo {
    max-width: 250px;
  }
}

//
//h1, #section-byline {
//  display: none;
//}

.faceted-widgets {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  margin-bottom: 2.5em;
  grid-gap: 2em;

  .faceted-widget {
    border: 0 !important;

    legend {
      font-size: 0.9em;
    }

    fieldset {
      border: 0 !important;
      padding: 0 !important;
    }

    select, input[type="text"] {
      background-color: #F1F1F1;
      border-radius: 9999px;
      border: 0;
      //border: 1px solid $grey-300;
      //box-shadow: $shadow-inner;
      padding: 0.5em 1.5em;
    }

    .faceted-text-search {
      display: block;
      position: relative;
      padding-right: 0;
      button {
        position: absolute;
        right: 0;
        top: 0;
        border: 0;
        color: $white;
        background-color: $grey-700;
        border-radius: $rounded-full;
        height: 40px;
        width: 80px;

      }
    }


  }
}

.faceted-buttons-outer-wrapper {
  @extend .full-width;
  background-color: $white;
}

.faceted-area.top-area {
  @extend .container;
  background-color: transparent;
  position: relative;
}

.faceted-area.top-area:before {
  content: " ";
  background-color: $white;
  top: 0;
  bottom: 0;
  width: 100vw;
  position: absolute;
  margin-left: -50vw;
  left: 50%;
  z-index: -1;
  box-shadow: $shadow-md;
}

.template-facetednavigation_view #mainnavigation {
  margin-bottom: 0;
}

.faceted-sections-buttons {
  float: none !important;
  display: flex;
  justify-content: right;
  padding-top: 1.75em;
  padding-bottom: 0.5em;
}

#faceted-results .faceted_loading {
  background: url('../assets/ajax-spinner.svg') no-repeat;
  background-position: center;
  background-size: contain;
  height: 150px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
}


.faceted-sections-buttons .faceted-sections-buttons-more,
.faceted-sections-buttons .faceted-sections-buttons-less {
  color: $grey-900 !important;
  text-decoration: none;

  .faceted-filter-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-right: -12px;
    border-radius: 25px;
    width: 245px;
    height: 40px;
    background-color: #F1F1F1;

    i {
      font-size: 1.75em;
    }

  }

  a {
    color: $white !important;
    text-decoration: none;
    background-color: $grey-700;
    border-radius: 100%;
  }

  .label {
    margin-left: 0.5em;
  }

  i {
    font-size: 2rem;
    font-weight: bold;
  }
}

#center-area {
  #center-content-area {
    @extend .container;
  }
}

.faceted-results {
  padding-top: 2.5em;
}


.pagination {
  box-shadow: $shadow;
}


.page-item {
  overflow: hidden;
  border-left: 1px solid $grey-300;
  border-right: 1px solid $grey-300;
  margin: 0 0 0 -1px;
  padding: 0;
  height: 35px;
  background-color: $white;

  &.disabled {
    width: 36px;
    text-align: center;
    padding-top: 4px;
  }

  &.active {
    .page-link {
      border-bottom: 4px solid var(--nav-color);
    }
  }

  &:last-child {
    border-radius: 0 5px 5px 0;
    border-right: 0;
  }

  &:first-child {
    border-left: 0;
    border-radius: 5px 0 0 5px;
  }

  .page-link {
    border-radius: 0 !important;
    background-color: transparent;
    color: $grey-900;
    border: 0;
    padding: 7px 0 0 0;
    width: 35px;
    margin: 0;
    text-align: center;
  }

  .label {
    display: none;
  }
}


.meeting-header {
  //background-color: $white;
  //display: inline-block;
  //padding: 1em 2em;
  //margin-bottom: 0em;
  //box-shadow: $shadow-md;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid transparentize($grey-400, 0.8);
  margin-bottom: 2rem;
  padding: 1rem;

  h3 {
    font-size: 1.3em;
    font-weight: 600;
    color: $grey-900;
  }

  h2 {
    margin-left: 2px;
    font-size: 1.6em;
    color: $grey-900;
    font-weight: 700;
  }
}

.meeting-custom-info {
  @extend .card;
  padding: 1em 2em;
  box-shadow: $shadow-md;
  margin-bottom: 2.5em;
  position: relative;
  z-index: 5;
}

.items-container {
  margin-top: 1.5em;
  display: grid;
  grid-auto-flow: row;

  &.grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 2em;

    .item-card h5 {
      font-size: 1rem;
    }
  }

  &.list {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-gap: 2em;

    .item-card h5 {
      font-size: 1.2rem;
    }
  }

  margin-bottom: 2.5em;


}

.meeting-state {
  display: flex;
  justify-content: end;

}

.item-card {
  @extend .card;
  position: relative;
  overflow: hidden;
  box-shadow: $shadow-md;
  border: 0;
  outline-color: transparent;
  min-height: 10rem;

  a {
    text-decoration: none !important;
  }

  .item-header {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }


  h5 {
    font-size: 1.2em;
    margin-bottom: 0.5em;
    font-weight: 600;
    padding-right: 1rem;

    p {
      margin: 0;
      text-align: justify;
    }
  }

  .item-main {
    z-index: 10;
  }


  .item-number-bg {
    position: absolute;
    //font-family: "Montserrat", sans-serif;
    color: $grey-900;
    bottom: -20px;
    right: 0.25em;
    font-size: 6em;
    font-weight: 100;
    z-index: 1;
    letter-spacing: -0.1em;
  }

  .item-number-bg::before {
    content: "";
    display: block;
    position: absolute;
    height: 50px;
    width: 5px;
    right: -15px;
    top: 48px;
    background-color: color-mix(in srgb, var(--nav-color), transparent 80%);
    z-index: 0;
  }


  &:hover {
    outline-style: solid;
    outline-offset: 2px;
    outline-color: color-mix(in srgb, var(--nav-color), transparent 25%);
    //background-color: transparentize(var(--nav-color), 0.25);
    transition: outline-color 0.20s ease-in-out;
    //.item-number-bg {
    //  color: $white;
    //}

    .item-number-bg::before {
      background-color: color-mix(in srgb, var(--nav-color), transparent 25%);
    }
  }


  .item-metadatas {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-size: 0.9em;
    color: $grey-800;

    max-width: 350px;

    .item-metadata-row {
      border-bottom: 1px dashed $grey-600;
    }

    .item-metadata-row:last-child {
      border-bottom: 0
    }


  }

  .item-metadata-row {
    display: flex;
    align-items: center;
    padding: 0.5em 0;
  }


  .item-metadata-label {
    font-weight: 600;
    flex: 1;
  }

  .item-metadata {
    display: flex;
    align-items: center;
    margin-right: 1em;
  }


}


#items-layout-select {
  display: flex;
  justify-content: end;
  height: 35px;

  .btn-group {
    box-shadow: $shadow;
    border-radius: 4px;
    overflow: hidden;
  }

  button {
    background-color: $white;
    margin-left: 0em;
    border: 0;
    font-size: 1em;
    font-weight: 600;
    color: $grey-900;
    transition: background-color 0.20s ease-in-out;
    border-left: 1px solid $grey-300;
    padding: 7px 0 0 0;

    &:first-child {
      border-left: 0;
    }

    .icon-wrapper {
      width: 35px;
      display: block;
      padding: 0;
      margin: 0;
      border-bottom: 4px solid transparent;
    }

    &:hover {
      background-color: $grey-200;
    }
  }

  .btn.active {
    .icon-wrapper {
      border-bottom: 4px solid var(--nav-color) !important;
    }
  }
}


.dark {
  .faceted-buttons-outer-wrapper {
    @extend .full-width;
    background-color: $grey-900;
  }

  .faceted-area.top-area:before {
    background-color: $grey-900;
  }
}
